* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;

  background: #080808;
  color: #f4efe8;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

button,
a {
  font: inherit;
}

button {
  border: none;
}

img {
  max-width: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
}